.backButton {
  font-size: 1.5rem;
  margin-left: 2rem;
  text-decoration: none;
  color: #fff;
  display: inline;
  width: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  z-index: 1000000;
}
