.backButton {
  font-size: 1.5rem;
  margin-left: 2rem;
  text-decoration: none;
  color: #fff;
  display: inline;
  width: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  align-self: flex-start;
}
