.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

  // max-width: 1280px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  // padding: 0 14px;
}
