.carousel {
  h2 {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 17px;
  }

  .swiperContainer {
    display: flex;
    flex-direction: row;
  }

  .swiperSlide {
    width: auto;

    img {
      width: 100%;
    }
  }
}

// for responsiveness change the img size on the api
