.MovieDetailPage {
  position: relative;
  .backgroundImg {
    position: relative;
    width: 100vw;
    height: 100vh;
    &::before {
      content: "";
      height: 100vh;
      width: 100vw;
      position: absolute;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 153, 153, 0) 0%,
        rgb(20, 29, 38) 100%
      );
      top: 0;
      left: 0;
      z-index: 20;
      opacity: 1;
    }
  }

  .movieBackdrop {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
    opacity: 0.3;
  }

  .moviePoster {
    margin-left: auto;
    margin-right: auto;
  }

  .movieDetailsContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
